body{
    font-family: 'Courier New', monospace;
    background-color: #011627;
    color: white;
    text-align: center;
    border: 40px solid green;
    border-top: 0px
    margin: 0px
}

h1{
    font-family: 'Qahiri', sans-serif;
    text-align: center;
    font-size: 50px
}

h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 30px;
}
p{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin-buttom: 10px
}

form{
    font-size: 30px;
}

div{
    text-align: center;
}

#sub{
    text-align: center;
    background-color: orange;
    padding: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 50px;
    margin-top: 20px
    font-size: 1.5em
}